@use '../../../lib/styles/theme/colors';
@use '../../../lib/styles/tools/spacing';

.root {
  --rui-local-height: auto;

  height: var(--rui-local-height);
  padding: spacing.of(3);
  background-color: colors.$white;
}

.rootBordered {
  border: 2px dashed map-get(colors.$grays, gray-200);
}

.rootDark {
  background-color: var(--rui-color-dark);
}

.rootInline {
  display: inline-flex;
  vertical-align: middle;
}
