@use "../../../lib/styles/tools/spacing";

.root {
    width: var(--rui-local-width, auto);
    height: var(--rui-local-height, auto);
    padding: spacing.of(3);
    background-color: var(--rui-color-background-layer-1);
}

.rootBordered {
    border: 2px dashed var(--rui-color-border-secondary);
}

.rootDark {
    background-color: var(--rui-color-neutral-dark);
}

.rootInline {
    display: inline-flex;
    vertical-align: middle;
}
