@import '../../../lib/styles/settings/colors';
@import '../../../lib/styles/settings/typography';
@import '../../../lib/styles/tools/spacing';

.root {
  margin-bottom: spacing(7);
}

.sandbox {
  padding: spacing(5);
  border: 2px dashed map-get($colors-grays, gray-200);
  background-color: $color-white;
}
