@import '../../../lib/styles/settings/typography';
@import '../../../lib/styles/tools/spacing';

.root {
  display: inline-block;
  margin-right: spacing(3);
  margin-bottom: spacing(3);
  text-align: center;
}

.field {
  width: 120px;
  height: 60px;
  margin-bottom: spacing(1);
  border: 1px solid rgba(0, 0, 0, 0.15);
}

.label {
  width: 120px;
  overflow: hidden;
  font-size: $typography-size-small;
  text-overflow: ellipsis;
  white-space: nowrap;
}
