################################
# Docker Compose configuration #
################################

# Must match Docker Compose project name used to start the other service containers to allow devcontainer
# to communicate with them (setup.sh derives this from the directory basename by default)
COMPOSE_PROJECT_NAME=react-ui

# Docker compose ports for Docs server instances
COMPOSE_DOCS_SERVER_PORT=8000

# Docker compose ports for Playwright Component Testing report server
COMPOSE_PLAYWRIGHT_REPORT_PORT=9323

# Flag whether the `node` and `docs` service containers should automatically install dependencies,
# build, and run the application (JavaScript files watcher, docs server) when they start
COMPOSE_AUTOSTART=false

# Ownership of the files created in the container
# ⚠️ [Linux] This needs to be set to the output of `id --user`
# ⚠️ [MacOS] This needs to be set to 1000
COMPOSE_UID=1000
# ⚠️ [Linux] This needs to be set to the output of `id --group`
# ⚠️ [MacOS] This needs to be set to 1000
COMPOSE_GID=1000

#############################
# Devcontainer configuration #
#############################

# IDEs automatically mount the host's SSH agent socket into the container
# Visual Studio Code does this by default, it can be disabled by setting the following variable to true.
# JetBrains IDEs do not mount this by default, but they can be configured to do so.
BLOCK_SSH_AUTH_SOCK=false

# Select your preferred editor and visual (vim, nano)
EDITOR=vim
VISUAL=vim

# Select your preferred shell (/bin/bash, /bin/fish, /bin/zsh)
SHELL=/bin/bash

###########################
# Playwright configuration #
###########################

# Number of workers to use to run Playwright tests
PW_WORKERS=1

# Port used by Playwright Component Testing to serve the test files
PW_CT_PORT=3100
