{
  "extends" : [
    "@visionappscz/eslint-config-visionapps"
  ],
  "env": {
    "browser": true,
    "jest": true
  },
  "ignorePatterns": ["src/docs/_assets/generated"],
  "overrides": [
    {
      "files": ["**/*.md"],
      "extends": [
        "plugin:markdown/recommended"
      ]
    }
  ],
  "parser": "@babel/eslint-parser",
  "rules": {
    "import/prefer-default-export": "off"
  }
}
