{
  "extends": [
    "@visionappscz/eslint-config-visionapps",
    "plugin:deprecation/recommended"
  ],
  "overrides": [
    {
      "files": [
        "**/*.ts",
        "**/*.tsx"
      ],
      "extends": [
        "@visionappscz/eslint-config-visionapps",
        "airbnb-typescript",
        "plugin:@typescript-eslint/recommended",
        "plugin:typescript-sort-keys/recommended"
      ],
      "parser": "@typescript-eslint/parser",
      "parserOptions": {
        "project": "tsconfig.json"
      },
      "plugins": ["@typescript-eslint"],
      "rules": {
        "@typescript-eslint/no-unused-vars": ["error"],
        "@typescript-eslint/object-curly-spacing": ["error"],
        "import/prefer-default-export": ["off"],
        "no-console": ["error"],
        "react/default-props-match-prop-types": ["off"],
        "react/require-default-props": ["off"]
      }
    }
  ],
  "env": {
    "browser": true,
    "jest": true
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "plugins": [
    "@typescript-eslint"
  ],
  "rules": {
    "import/prefer-default-export": "off",
    "no-console": "error"
  }
}