{
  "extends" : [
    "@visionappscz/eslint-config-visionapps",
    "plugin:markdown/recommended",
    "plugin:mdx/recommended"
  ],
  "env": {
    "browser": true,
    "jest": true
  },
  "rules": {
    "func-names": "off",
    "react/jsx-props-no-spreading": "off",
    "react/jsx-one-expression-per-line": "off",
    // Bedřich Schindler <bedrich@visionapps.cz>, 14. 9. 2019
    // Because of bug in eslint-config-react https://github.com/yannickcr/eslint-plugin-react/issues/1846
    "react/button-has-type": "off",
    // Bedřich Schindler <bedrich@visionapps.cz>, 14. 9. 2019
    // These rules will be fixed later due to huge amouut of errors after update
    "react/destructuring-assignment": "off"
  },
  "overrides": [
    {
      "files": ["**/*.mdx"],
      "rules": {
        "react/jsx-filename-extension": [1, { "extensions": [".mdx"] }],
        "react/jsx-indent": "off", // Gives false positives in MDX files.
        "semi": "off", // We don't want to clutter our MDX with semicolons.
        "sort-keys": "off" // This rule only needs to be turned off in a few places (eg. breakpoint lists), but weirdly enough, an inline comment alerts breaking of the `indent` rule.
      }
    }
  ]
}
