/coverage
/docker-compose.yml
/docker/react_ui_devcontainer_local
!/docker/react_ui_devcontainer_local/Dockerfile.dist
/dist
/node_modules
/playwright-report/
/site
/src/docs/_assets/generated/*
/tests/playwright/.temp/
.env
statistics.html
!.gitkeep
