@use "theme";

@layer components.text-link {
    .root {
        text-decoration: theme.$text-decoration;
        color: theme.$color;

        &:hover {
            text-decoration: theme.$hover-text-decoration;
            color: theme.$hover-color;
        }

        &:active {
            text-decoration: theme.$active-text-decoration;
            color: theme.$active-color;
        }
    }
}
