@import './variables';

$rui-button-size-map: (
  small: (
    line-height: 1,
    letter-spacing: 0.073em,
    font-size: $rui-button-font-size-small,
    font-weight: 500,
    height: $rui-button-height-small,
    padding: $rui-button-padding
  ),
  medium: (
    line-height: 1,
    letter-spacing: 0.073em,
    font-size: $rui-button-font-size,
    font-weight: 500,
    height: $rui-button-height,
    padding: $rui-button-padding
  ),
  large: (
    line-height: 1,
    letter-spacing: 0.073em,
    font-size: $rui-button-font-size-large,
    font-weight: 500,
    height: $rui-button-height-large,
    padding: $rui-button-padding-large
  )
);

$rui-global-button-properties-map: (
  default: (
    color: $rui-btn-default-color,
    border-color: $rui-btn-default-border-color,
    background-color: $rui-btn-default-background-color,
    hover-background-color: $rui-btn-default-hover-background-color,
    hover-color: $rui-btn-default-hover-color,
    active-box-shadow-color: $rui-btn-default-box-shadow-color,
    active-box-shadow-width-top: 2px,
    disabled-color: $rui-btn-default-disabled-color,
    disabled-background-color: $rui-btn-default-background-color,
    disabled-border-color: $rui-btn-default-disabled-border-color
  ),
  primary: (
    background-color: $rui-btn-primary-background-color,
    border-color: $rui-btn-primary-border-color,
    color: $rui-btn-primary-color,
    hover-background-color: $rui-btn-primary-hover-background-color,
    hover-color: $rui-btn-primary-hover-color,
    active-box-shadow-color: $rui-btn-primary-box-shadow-color,
    active-box-shadow-width-top: 1px,
    disabled-color: $rui-btn-primary-disabled-color,
    disabled-background-color: $rui-btn-primary-disabled-background-color,
    disabled-border-color: $rui-btn-primary-disabled-border-color
  ),
  flat: (
    background-color: transparent,
    border-color: transparent,
    color: $rui-btn-flat-color,
    hover-background-color: transparent,
    hover-color: $rui-btn-flat-hover-color,
    active-box-shadow-color: transparent,
    active-box-shadow-width-top: 0,
    disabled-color: $rui-btn-flat-disabled-color,
    disabled-background-color: transparent,
    disabled-border-color: transparent
  ),
  success: (
    background-color: transparent,
    border-color: $rui-btn-success-border-color,
    color: $rui-btn-success-color,
    hover-background-color: $rui-btn-success-hover-background-color,
    hover-color: $rui-btn-success-hover-color,
    active-box-shadow-color: $rui-btn-success-box-shadow-color,
    active-box-shadow-width-top: 1px,
    disabled-color: $rui-btn-success-disabled-color,
    disabled-background-color: $rui-btn-success-disabled-background-color,
    disabled-border-color: $rui-btn-success-disabled-border-color
  ),
  success-primary: (
    background-color: $rui-btn-success-primary-background-color,
    border-color: $rui-btn-success-primary-background-color,
    color: $rui-btn-success-primary-color,
    hover-background-color: $rui-btn-success-primary-hover-background-color,
    hover-color: $rui-btn-success-primary-hover-color,
    active-box-shadow-color: $rui-btn-success-primary-box-shadow-color,
    active-box-shadow-width-top: 2px,
    disabled-color: $rui-btn-success-primary-disabled-color,
    disabled-background-color: $rui-btn-success-primary-disabled-background-color,
    disabled-border-color: $rui-btn-success-primary-disabled-border-color
  ),
  success-flat: (
    background-color: transparent,
    border-color: transparent,
    color: $rui-btn-success-flat-color,
    hover-background-color: transparent,
    hover-color: $rui-btn-success-flat-hover-color,
    active-box-shadow-color: transparent,
    active-box-shadow-width-top: 0,
    disabled-color: $rui-btn-success-flat-disabled-color,
    disabled-background-color: transparent,
    disabled-border-color: transparent
  ),
  warning: (
    background-color: transparent,
    border-color: $rui-btn-warning-border-color,
    color: $rui-btn-warning-color,
    hover-background-color: $rui-btn-warning-hover-background-color,
    hover-color: $rui-btn-warning-hover-color,
    active-box-shadow-color: $rui-btn-warning-box-shadow-color,
    active-box-shadow-width-top: 1px,
    disabled-color: $rui-btn-warning-disabled-color,
    disabled-background-color: $rui-btn-warning-disabled-background-color,
    disabled-border-color: $rui-btn-warning-disabled-border-color
  ),
  warning-primary: (
    background-color: $rui-btn-warning-primary-background-color,
    border-color: $rui-btn-warning-primary-background-color,
    color: $rui-btn-warning-primary-color,
    hover-background-color: $rui-btn-warning-primary-hover-background-color,
    hover-color: $rui-btn-warning-primary-hover-color,
    active-box-shadow-color: $rui-btn-warning-primary-box-shadow-color,
    active-box-shadow-width-top: 2px,
    disabled-color: $rui-btn-warning-primary-disabled-color,
    disabled-background-color: $rui-btn-warning-primary-disabled-background-color,
    disabled-border-color: $rui-btn-warning-primary-disabled-background-color
  ),
  warning-flat: (
    background-color: transparent,
    border-color: transparent,
    color: $rui-btn-warning-flat-color,
    hover-background-color: transparent,
    hover-color: $rui-btn-warning-flat-hover-color,
    active-box-shadow-color: transparent,
    active-box-shadow-width-top: 0,
    disabled-color: $rui-btn-warning-flat-disabled-color,
    disabled-background-color: transparent,
    disabled-border-color: transparent
  ),
  danger: (
    background-color: transparent,
    border-color: $clr-btn-danger-border-color,
    color: $clr-btn-danger-color,
    hover-background-color: $clr-btn-danger-hover-background-color,
    hover-color: $clr-btn-danger-hover-color,
    active-box-shadow-color: $clr-btn-danger-box-shadow-color,
    active-box-shadow-width-top: 1px,
    disabled-color: $clr-btn-danger-disabled-color,
    disabled-background-color: transparent,
    disabled-border-color: $clr-btn-danger-disabled-color
  ),
  danger-primary: (
    background-color: $rui-btn-danger-primary-background-color,
    border-color: $rui-btn-danger-primary-background-color,
    color: $rui-btn-danger-primary-color,
    hover-background-color: $rui-btn-danger-primary-hover-background-color,
    hover-color: $rui-btn-danger-primary-hover-color,
    active-box-shadow-color: $rui-btn-danger-primary-box-shadow-color,
    active-box-shadow-width-top: 2px,
    disabled-color: $rui-btn-danger-primary-disabled-color,
    disabled-background-color: $rui-btn-danger-primary-disabled-background-color,
    disabled-border-color: $rui-btn-danger-primary-disabled-background-color
  ),
  danger-flat: (
    background-color: transparent,
    border-color: transparent,
    color: $rui-btn-danger-flat-color,
    hover-background-color: transparent,
    hover-color: $rui-btn-danger-flat-hover-color,
    active-box-shadow-color: transparent,
    active-box-shadow-width-top: 0,
    disabled-color: $rui-btn-danger-flat-disabled-color,
    disabled-background-color: transparent,
    disabled-border-color: transparent
  ),
);
