$padding: var(--rui-Paper__padding);
$border-width: var(--rui-Paper__border-width);
$border-color: var(--rui-Paper__border-color);
$border-radius: var(--rui-Paper__border-radius);
$background-color: var(--rui-Paper__background-color);
$muted-background-color: var(--rui-Paper--muted__background-color);
$muted-opacity: var(--rui-Paper--muted__opacity);
$raised-box-shadow: var(--rui-Paper--raised__box-shadow);
