$border-bottom-width: var(--rui-Tabs__border-bottom-width);
$border-bottom-color: var(--rui-Tabs__border-bottom-color);
$gap-xs: var(--rui-Tabs__gap--xs);
$gap-sm: var(--rui-Tabs__gap--sm);
$gap-md: var(--rui-Tabs__gap--md);
$padding-x: var(--rui-Tabs__padding-x);

$item-padding-xs: var(--rui-Tabs__item__padding--xs);
$item-padding-sm: var(--rui-Tabs__item__padding--sm);
$item-padding-md: var(--rui-Tabs__item__padding--md);
$item-font-weight: var(--rui-Tabs__item__font-weight);
$item-color: var(--rui-Tabs__item__color);
$item-border-width: var(--rui-Tabs__item__border-width);
$item-border-color: var(--rui-Tabs__item__border-color);
$item-border-radius: var(--rui-Tabs__item__border-radius);
$item-background-color: var(--rui-Tabs__item__background-color);
$item-box-shadow: var(--rui-Tabs__item__box-shadow);
$item-icon-gap: var(--rui-Tabs__item__icon__gap);

$item-hover-font-weight: var(--rui-Tabs__item--hover__font-weight);
$item-hover-color: var(--rui-Tabs__item--hover__color);
$item-hover-border-width: var(--rui-Tabs__item--hover__border-width);
$item-hover-border-color: var(--rui-Tabs__item--hover__border-color);
$item-hover-background-color: var(--rui-Tabs__item--hover__background-color);
$item-hover-box-shadow: var(--rui-Tabs__item--hover__box-shadow);
$item-hover-shift-y: var(--rui-Tabs__item--hover__shift-y);
$item-hover-label-shift-y: var(--rui-Tabs__item--hover__label__shift-y);

$item-active-font-weight: var(--rui-Tabs__item--active__font-weight);
$item-active-color: var(--rui-Tabs__item--active__color);
$item-active-border-width: var(--rui-Tabs__item--active__border-width);
$item-active-border-color: var(--rui-Tabs__item--active__border-color);
$item-active-background-color: var(--rui-Tabs__item--active__background-color);
$item-active-box-shadow: var(--rui-Tabs__item--active__box-shadow);
$item-active-shift-y: var(--rui-Tabs__item--active__shift-y);
$item-active-label-shift-y: var(--rui-Tabs__item--active__label__shift-y);
