$grid-responsive-properties: [
    columns,
    column-gap,
    rows,
    row-gap,
    auto-flow,
    align-content,
    align-items,
    justify-content,
    justify-items,
]; // stylelint-disable-line indentation -- Broken rule?

$grid-span-responsive-properties: [
    column-span,
    row-span,
]; // stylelint-disable-line indentation -- Broken rule?

$initial-fallback-value: initial;
