$padding: var(--rui-Card__padding);
$border-width: var(--rui-Card__border-width);
$border-radius: var(--rui-Card__border-radius);
$background-color: var(--rui-Card__background-color);

$dense-padding: var(--rui-Card--dense__padding);
$raised-box-shadow: var(--rui-Card--raised__box-shadow);

$disabled-background-color: var(--rui-Card--disabled__background-color);
$disabled-opacity: var(--rui-Card--disabled__opacity);
