.root {
  display: inline-block;
  width: 1rem;
  height: 1rem;
}

.isRootSmall {
  composes: root;
  width: 0.5rem;
  height: 0.5rem;
}

.isRootLarge {
  composes: root;
  width: 2rem;
  height: 2rem;
}
