@import '../../../lib/styles/settings/colors';
@import '../../../lib/styles/settings/typography';
@import '../../../lib/styles/tools/spacing';
@import '../../../lib/styles/tools/transitions';

.headline {
  padding: spacing(6) spacing(5) spacing(2);
  font-weight: map-get($typography-font-weight-values, regular);
  font-size: map-get($typography-size-values, 3);
}

.root,
.subnavigation {
  padding-left: 0;
  list-style: none;
}

.navigationLink,
.subnavigationLink {
  @include transition((color, background));

  display: block;
  padding: spacing(3) spacing(5);
  text-decoration: none;
  color: inherit;
}

.navigationLink {
  font-weight: map-get($typography-font-weight-values, bold);
}

.subnavigationLink {
  padding-left: spacing(7);
  color: map-get($colors-grays, gray-600);
}

.navigationLink:hover,
.navigationLink:focus,
.subnavigationLink:hover,
.subnavigationLink:focus {
  text-decoration: none;
  color: inherit;
  background-color: map-get($colors-grays, gray-50);
}
