@use "../theme/links";

a {
    text-decoration: links.$decoration;
    text-underline-offset: links.$underline-offset;
    color: links.$color;

    &:hover {
        text-decoration: links.$hover-decoration;
        color: links.$hover-color;
    }

    &:active {
        text-decoration: links.$active-decoration;
        color: links.$active-color;
    }
}
