@use "settings";

@layer components.modal {
    .root {
        margin-block: 0;
        font-size: settings.$title-font-size;

        &:not(:last-child) {
            margin-bottom: 0;
        }
    }
}
