$padding: var(--rui-Alert__padding);
$font-weight: var(--rui-Alert__font-weight);
$border-width: var(--rui-Alert__border-width);
$border-radius: var(--rui-Alert__border-radius);
$emphasis-font-weight: var(--rui-Alert__emphasis__font-weight);
$stripe-width: var(--rui-Alert__stripe__width);
