@use "sass:map";
@use "../../styles/theme/typography";
@use "../../styles/tools/accessibility";
@use "../../styles/tools/reset";
@use "../../styles/tools/spacing";

@layer components.modal {
    .root {
        @include reset.button();
        @include accessibility.min-tap-target();

        font-size: map.get(typography.$font-size-values, 4);
        line-height: 1;
        color: inherit;

        &:disabled {
            cursor: var(--rui-cursor-not-allowed);
        }
    }
}
