// 1. `word-break: break-word` is deprecated, `word-break: normal` with `overflow-wrap: anywhere` is
//    its standard equivalent.
//    https://drafts.csswg.org/css-text-3/#valdef-word-break-break-word
//
// 2. Different approaches are used for single and multiline texts because the latter approach
//    doesn't always work for single-line texts.

@layer components.text {
    .isRootClampSingleLine {
        display: block; // 2.
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .isRootClampMultiLine {
        display: -webkit-box; // 2.
        -webkit-line-clamp: var(--rui-custom-lines);
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .isRootHyphensAuto {
        hyphens: auto;
    }

    .isRootHyphensManual {
        hyphens: manual;
    }

    .isRootWordWrappingAnywhere {
        word-break: break-all;
    }

    .isRootWordWrappingLongWords {
        word-break: normal; // 1.
        overflow-wrap: anywhere; // 1.
    }
}
