$rui-input-text-color: #000 !default;
$rui-default-borderwidth: 1px !default;
$rui-input-border-color: #0094d2 !default;
$rui-form-field-border-color: #9a9a9a !default;
$rui-forms-input-invalid-color: #a32100 !default;
