.root {
    display: inline-flex;
    flex-direction: column;
    width: 18%;
    min-width: 120px;
    margin-right: 1rem;
    margin-bottom: 1.5rem;
}

.swatch {
    height: 4rem;
    margin-bottom: 0.5rem;
    border: 1px solid rgba(0, 0, 0, 0.15);

    @media (min-width: 66em) {
        height: 5rem;
    }
}

.title {
    width: 100%;
    overflow: hidden;
    font-size: 0.85rem;
    text-overflow: ellipsis;
}
