$color: var(--rui-local-link-color, var(--rui-color-text-link));
$decoration: var(--rui-text-decoration-link);
$hover-color: var(--rui-local-link-color-hover, var(--rui-color-text-link-hover));
$hover-decoration: var(--rui-text-decoration-link-hover);
$active-color: var(--rui-local-link-color-active, var(--rui-color-text-link-active));
$active-decoration: var(--rui-text-decoration-link-active);
