name: Build

on: [ pull_request ]

env:
  NODE_ACTIVE_LTS_VERSION: 24
  NODE_PREVIOUS_LTS_VERSION: 22
  NPM_VERSION: 11

jobs:
  build_on_node_previous_lts:
    name: Build distribution CSS and JS (Node Previous LTS)
    runs-on: ubuntu-24.04
    steps:
      - name: Clone repository
        uses: actions/checkout@v6

      - name: Set up Node.js (${{ env.NODE_PREVIOUS_LTS_VERSION }})
        uses: actions/setup-node@v6
        with:
          node-version: ${{ env.NODE_PREVIOUS_LTS_VERSION }}
          cache: npm
        continue-on-error: true

      - name: Install npm@${{ env.NPM_VERSION }}
        run: npm install -g npm@${{ env.NPM_VERSION }}

      - name: Print Node.js and npm version
        run: node --version && npm --version

      - name: Install
        run: npm ci

      - name: Build
        run: npm run build

  build_on_node_active_lts:
    name: Build distribution CSS and JS (Node Active LTS)
    runs-on: ubuntu-24.04
    steps:
      - name: Clone repository
        uses: actions/checkout@v6

      - name: Set up Node.js (${{ env.NODE_ACTIVE_LTS_VERSION }})
        uses: actions/setup-node@v6
        with:
          node-version: ${{ env.NODE_ACTIVE_LTS_VERSION }}
          cache: npm

      - name: Print Node.js and npm version
        run: node --version && npm --version

      - name: Install
        run: npm ci

      - name: Build
        run: npm run build
